* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 9pt;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: #000;
  color: #aaa;
  border-bottom: 1px solid #444;
}

tooltip {
  color: #000;
  background: #444;
  font-size: 6px;
  padding: 4px;
  margin: 2px;
  opacity: 0.9;
}

#workspaces,
#window,
#cpu,
#custom-control-panel
#tray,
#battery,
#clock {
  opacity: 0.9;
}

#workspaces {
  margin-left: 8px;
  padding: 0px 0px;
}

#workspaces button {
  color: #777;
  padding: 0px 8px;
  margin-bottom: 1px;
}

#workspaces button:hover {
  color: #aaa;
  box-shadow: inherit;
  text-shadow: inherit;
  background: black;
}

#workspaces button.active {
  color: #aaa;
}

#workspaces button.active:hover {
  color: #aaa;
}

#workspaces button.focused {
  color: #aaa;
}

#workspaces button.urgent {
  color: #aaa;
}

#window {
  color: #aaa;
  padding: 0px 10px;
}

#cpu {
  margin-right: 4px;
  padding: 0px 10px;
}

#custom-control-panel {
  margin-right: 4px;
  padding: 0px 10px;
}

#tray {
  margin-right: 4px;
  padding: 0px 4px;
}

#battery {
  margin-right: 4px;
  padding: 0px 4px;
}

#clock {
  margin-right: 8px;
  padding: 0px 10px;
}
