* {
  border: none;
  font-family: "JetBrainsMono Nerd Font Mono";
  font-size: 10pt;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: #222;
  color: #aaa;
  border-bottom: 1px solid #444;
}

tooltip {
  color: #000;
  background: #444;
  font-size: 6px;
  padding: 4px;
  margin: 2px;
}

#workspaces {
  margin-left: 12px;
  padding: 0px 0px;
}

#workspaces button {
  color: #777;
  padding: 0px 8px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 2px;
  border: 1px solid #222;
}

#workspaces button:hover {
  color: #aaa;
  box-shadow: inherit;
  text-shadow: inherit;
  background: #333;
  border: 1px solid #444;
}

#workspaces button.active {
  color: #aaa;
  background: #333;
  border: 1px solid #444;
}

#workspaces button.active:hover {
  color: #aaa;
}

#workspaces button.focused {
  color: #aaa;
}

#workspaces button.urgent {
  color: #aaa;
}

#window {
  color: #aaa;
  padding: 0px 10px;
}

#cpu {
  margin-right: 4px;
  padding: 0px 10px;
}

#tray {
  margin-right: 8px;
  padding: 0px 4px;
}

#network {
  margin-right: 4px;
  padding: 0px 4px;
  font-size: 14pt;
}

#bluetooth {
  margin-right: 4px;
  padding: 0px 4px;
  font-size: 12pt;
}

#battery {
  margin-right: 4px;
  padding: 0px 4px;
}

#custom-updates {
  color: #6fcf97;
  padding: 0px 8px;
}

#clock {
  margin-right: 12px;
  padding: 0px 4px;
}
